@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body, html{
    font-family: 'Raleway', sans-serif;
    height: 100%;
    margin:0;
    font-size:16px;
    font-weight:400;
    line-height:1.8em;
    color: black;
}

.pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

.pimg1{
    background-image: url("img1.jpg");
    min-height: 100%;
}

.pimg2{
    background-image: url("img1.jpg");
    min-height: 100%;
}

.pimg3{
    background-image: url("img1.jpg");
    min-height: 100%;
}

.section{
    text-align: center;
    padding:50px 80px;
    background-color: bisque;
    column-count: 2;
}

.ptext1 {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size: 5vw;
    letter-spacing: 8px;
}

.ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color: black;
    font-size: 27px;
    letter-spacing: 8px;

}

.bordercol{
    background-color: bisque;
    padding: 50px 80px;
}

.social{
    padding: 140px 100px;
}

.footer{
    text-align:center;
    color: black;
    background-color: bisque;
}

@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-github {
    background: #125688;
    color: white;
}