@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

body, html{
    font-family: 'Epilogue', sans-serif;
    height: 100%;
    margin:0;
    font-size:16px;
    font-weight:400;
    line-height:1.8em;
    color: white;
}

/* unvisited link */
a:link {
    color: darkgrey;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: darkgrey;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: darkseagreen;
    text-decoration: none;
}

/* selected link */
a:active {
    color: mediumseagreen;
    text-decoration: none;
}

ul {
    list-style-position: inside;
}

/* main images */
.pimg1, .pimg2, .pimg3{
    position:relative;
    opacity:0.90;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* parallax effect */
    background-attachment: fixed;
}

.pimg1{
    background-image:url(palms.JPG);
    min-height: 100%;
}

.pimg2{
    background-image: url(palms.JPG);
    min-height: 100%;
}

.pimg3{
    background-image: url(palms.JPG);
    min-height: 100%;
}

.section{
    text-align: center;
    padding:50px 80px;
    background-color: darkolivegreen;
    opacity: 0.7;
}

.ptext1 {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: left;
    color: white;
    font-size: 5vw;
    letter-spacing: 8px;
}

.ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color: white;
    font-size: 27px;
    letter-spacing: 8px;

}

/* footer padding */
.bordercol{
    background-color: none;
    padding: 50px 80px;
}

.social{
    padding: 140px 100px;
}

.footer{
    text-align:center;
    color: white;
    background-color: darkolivegreen;
    opacity: 0.7;
}

@media(max-width:568px){
    .pimg1, .pimg2, .pimg3{
        background-attachment: scroll;
    }
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    color: darkseagreen;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */

.fa-twitter {
    background: white;
    color: darkolivegreen;
}

.fa-linkedin {
    background: white;
    color: darkolivegreen;
}

.fa-github {
    background: white;
    color:darkolivegreen;
}

.myheader{
    background-color: none;
    padding: 50px 20px;
}

.mysubheader{
    background-color: none;
    position: absolute;
    padding: 50px 20px 40px 450px;
    font-size: 2vw;
}


.downarrow{
    background-color: none;
    position: absolute;
    text-align: center;
    font-size: 4vw;
    bottom: 8px;
}

/* TO DO: Add scroll down icon
* <br>
<i class="material-icons"
     style="font-size:56px">
     arrow_downward</i> */